@using RegistryDb.Models.Entities.Claims;
@model IList<ClaimFile>;

<link rel="stylesheet" href="~/css/claim.files.css" />
<script src="~/js/claim.files.js"></script>
<form id="ClaimFilesForm">
    <div class="card rr-claim-card mb-0">
        <div class="card-header d-flex justify-content-between pt-2 pb-2">
            <h4 class="mt-1">Прикрепленные образы документов</h4>
            <div class="btn-group" role="group">
                @if (ViewBag.Action == "Edit" || ViewBag.Action == "Create")
                {
                    <a href="#" id="claimFileAdd" class="form-control btn btn-success @(((bool?)ViewBag.CanEditBaseInfo ?? true) ? "" : "disabled")" title="Добавить образо документа">&#10010;</a>
                }
                <a href="#" data-for="ClaimFiles" class="form-control btn btn-primary claim-toggler" title="Развернуть панель образов документов" style="font-weight:bold;">∨</a>
            </div>
        </div>
        <ul class="list-group list-group-flush toggle-hide" id="ClaimFiles" data-action="@ViewBag.Action" data-id="@ViewBag.Id">
            <li class="list-group-item text-center rr-list-group-item-empty" style="@((Model != null && Model.Any()) ? "display: none" : "")">
                <i>Образы документов отсутствуют</i>
            </li>
            @if (Model != null && Model.Any())
            {
                for (var i = 0; i < Model.Count; i++)
                {
                    <partial name="AttachmentFile" model="Model[i]" />
                }
            }
        </ul>
    </div>
</form>