@using RegistryDb.Models.Entities;
@model IList<ClaimState>;

<link rel="stylesheet" href="~/css/claim.states.css" />
<script src="~/js/claim.States.js"></script>
<link rel="stylesheet" href="~/css/claim.courtOrders.css" />
<script src="~/js/claim.courtOrders.js"></script>
<form id="ClaimStatesForm">
    <div class="card rr-claim-card mb-2">
        <div class="card-header d-flex justify-content-between pt-2 pb-2">
            <h4 class="mt-1">Ход исковой работы</h4>
            <div class="btn-group" role="group">
                @if (ViewBag.Action == "Edit" || ViewBag.Action == "Create")
                {
                    <a href="#" id="claimStateAdd" class="form-control btn btn-success @(((bool?)ViewBag.CanEditBaseInfo ?? true) ? "" : "disabled")" title="Добавить этап исковой работы">&#10010;</a>
                }
                <a href="#" data-for="ClaimStates" class="form-control btn btn-primary claim-toggler" title="Развернуть панель этапов исковой работы" style="font-weight:bold;">∨</a>
            </div>
        </div>
        <ul class="list-group list-group-flush toggle-hide" id="ClaimStates" data-action="@ViewBag.Action" data-id="@ViewBag.Id">
            <li class="list-group-item text-center rr-list-group-item-empty" style="@((Model != null && Model.Any()) ? "display: none" : "")">
                <i>Этапы исковой работы отсутствуют</i>
            </li>
            @if (Model != null && Model.Any())
            {
                for (var i = 0; i < Model.Count; i++)
                {
                    ViewData["ClaimStateIndex"] = i;
                    <partial name="ClaimState" model="Model" />
                }
            }
        </ul>
    </div>
</form>