@model RegistryWeb.ViewModel.ClaimsVM;
@{
    ViewData["Title"] = "Претензионно-исковые работы";
    var text = Model.PageOptions.TotalRows == Model.PageOptions.Rows ?
        "(" + Model.PageOptions.TotalRows + ")" :
        "(" + Model.PageOptions.Rows + " из " + Model.PageOptions.TotalRows + ")";
}

@section styles
{
    <link rel="stylesheet" href="~/css/claims.css" runat="server" />
}

<div class="col info text-center" data-controller="Claims"></div>

<h2>@ViewData["Title"] @text</h2>
<partial name="Filter" model="Model" />
<partial name="DataTable" model="Model" />
<partial name="ReportsModals">
<page-link page-model="Model.PageOptions" page-action="Index"></page-link>

@section validation
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
}
@section Scripts {
    <script src="~/js/claim.reports.js" asp-append-version="true"></script>
    <script src="~/js/address.filter.js" asp-append-version="true"></script>
    <script src="~/js/index.common.js" asp-append-version="true"></script>
    <script src="~/js/index.Claims.js" asp-append-version="true"></script>
    <script src="~/js/multimaster.js" asp-append-version="true"></script>
}
