@using RegistryWeb.Models.Entities
@{
    var signers = (List<SelectableSigner>)ViewBag.SignersReports;
    SelectList signersList = null;
    if (signers != null)
    {
        signersList = new SelectList(signers.Select(r => new {
            IdSigner = r.IdRecord,
            Snp = r.Surname + " " + r.Name + (r.Patronymic !=null ? " " + r.Patronymic : "")
        }), "IdSigner", "Snp");
    }
}


<a id="target" style="display: none"></a>

<form id="claimBksAndTransToLegalForm">
    <div class="modal fade" id="claimBksAndTransToLegalModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="Claim.IdClaim" />
                    <input type="hidden" name="Claim.IdReport" />
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Claim.IdSigner">Подписывающий</label>
                            <select class="selectpicker form-control" title="Подписывающий" name="Claim.IdSigner"
                                    data-val="true" data-val-required="Выберите подписывающего" id="Claim_IdSigner" asp-items="@signersList"></select>
                            <span class="text-danger field-validation-valid" data-valmsg-for="Claim.IdSigner" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="Claim.Date">Дата</label>
                            <input type="date" class="form-control" title="Дата" name="Claim.Date"
                                   data-val="true" data-val-required="Укажите дату" id="Claim_Date" />
                            <span class="text-danger field-validation-valid" data-valmsg-for="Claim.Date" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary rr-report-submit">Сформировать</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</form>