@model RegistryServices.ViewModel.Other.PersonalSettingVM;
@{
    ViewData["Title"] = "Персональные настройки";
}
<h2>@ViewData["Title"]</h2>
<div>
    <div class="form-group">
        <label for="">ФИО</label>
        <input asp-for="User.UserDescription" class="form-control">
    </div>
    <div class="form-group">
        <label for="Database">База данных</label>
        <input asp-for="Database" class="form-control">
    </div>
    <h3>Привилегии:</h3>
    <ul class="list-group">
        @foreach (var privilege in Model.Privileges)
        {
            <li class="list-group-item">@privilege.PrivilegeDescription</li>
        }
    </ul>
</div>