@model RegistryWeb.ViewModel.PrivatizationListVM;
@using RegistryWeb.ViewOptions;
@using RegistryWeb.SecurityServices;
@{
    var securityService = (SecurityService)ViewData["SecurityService"];
    var canEdit = true;
}
<table class="table table-hover b-table">
    
</table>