@*@model RegistryWeb.ViewModel.PrivatizationListVM;
@using RegistryWeb.SecurityServices;
@{
    var securityService = (SecurityService)ViewData["SecurityService"];
}
<form asp-action="Index" method="get" class="filterForm">
</form>*@

