@model RegistryWeb.ViewModel.PrivatizationListVM;
@{
    ViewData["Title"] = "Договоры приватизации";
    var text = Model.PageOptions.TotalRows == Model.PageOptions.Rows ?
        "(" + Model.PageOptions.TotalRows + ")" :
        "(" + Model.PageOptions.Rows + " из " + Model.PageOptions.TotalRows + ")";
}

<h2>@ViewData["Title"] @text</h2>

<div class="alert alert-danger text-center">Подсистема "Приватизация" находится в опытной эксплуатации. Любые изменения, внесенные в данном разделе будут удалены после окончания опытной эксплуатации</div>

<partial name="Filter" model="Model" />
<partial name="DataTable" model="Model" />
<partial name="PrivContractModal">

<page-link page-model="Model.PageOptions" page-action="Index"></page-link>

@section Scripts {
    <script src="~/js/address.filter.js" asp-append-version="true"></script>
    <script src="~/js/index.common.js" asp-append-version="true"></script>
    <script src="~/js/index.PrivContract.js" asp-append-version="true"></script>
    <script src="~/js/privatization.reports.js" asp-append-version="true"></script>
}
@section styles{
    <link rel="stylesheet" href="~/css/privatization.css" runat="server" />
}
