@model RegistryWeb.ViewModel.PrivContractorVM;
@{
    var i = Model.I;
}
<li class="list-group-item">
    <input type="hidden" asp-for="PrivContractor.IdContractor" name="PrivContractor[@i].IdContractor" />
    <div class="form-row">
        <div class="form-group col-4">
            <label>Фамилия</label>
            <input type="text" class="form-control" asp-for="PrivContractor.Surname" id="PrivContractor[@i].Surname" name="PrivContractor[@i].Surname" title="Фамилия" />
        </div>
        <div class="form-group col-4">
            <label>Имя</label>
            <input type="text" class="form-control" asp-for="PrivContractor.Name" id="PrivContractor[@i].Name" name="PrivContractor[@i].Name" title="Имя" />
        </div>
        <div class="form-group col-4">
            <label>Отчество</label>
            <input type="text" class="form-control" asp-for="PrivContractor.Patronymic" id="PrivContractor[@i].Patronymic" name="PrivContractor[@i].Patronymic" title="Отчество" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-2">
            <label>Дата рождения</label>
            <input type="date" class="form-control" id="PrivContractor[@i].DateBirth" name="PrivContractor[@i].DateBirth" title="Дата рождения"
                   value="@(Model.PrivContractor.DateBirth.HasValue ? Model.PrivContractor.DateBirth.Value.ToString("yyyy-MM-dd") : "")" />
        </div>
        <div class="form-group col-10">
            <label>Родственное отношение</label>
            <select class="selectpicker form-control" asp-for="PrivContractor.IdKinship" id="PrivContractor[@i].IdKinship" name="PrivContractor[@i].IdKinship" title="Родственные отношения"
                asp-items="@(new SelectList(ViewBag.Kinships, "IdKinship", "KinshipName"))"></select>
        </div>
    </div>
</li>