<form id="PrivContractModalForm">
    <div class="modal fade bd-example-modal-xl" id="PrivContractModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Договор приватизации</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="PrivContract_IdContract" />
                    <input type="hidden" id="PrivContract_IdContractType" />
                    <div class="form-row">
                        <div class="form-group col-12 d-none">
                            <label for="PrivContract_IdOwner">Собственник</label>
                            <select class="selectpicker form-control" data-live-search="true" title="Собственник" id="PrivContract_IdOwner" asp-items="@(new SelectList(ViewBag.PrivEstateOwners, "IdOwner", "Name"))">
                                <option selected></option>
                            </select>
                        </div>
                        <div class="form-group col-12 d-none">
                            <label for="PrivContract_IdOwnerSigner">Доверенное лицо</label>
                            <select class="selectpicker form-control" data-live-search="true" title="Доверенное лицо" id="PrivContract_IdOwnerSigner">
                                <option selected></option>
                                @foreach (RegistryWeb.Models.Entities.SelectableSigner item in ViewBag.PrivEstateOwnerSigners)
                                {
                                    var snp = item.Surname + " " + item.Name + (item.Patronymic != null ? " " + item.Patronymic : "");
                                    <option value="@item.IdRecord" data-id-owner="@item.IdOwner">@snp</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-12">
                            <label for="PrivContract_IdContractKind">Вид договора</label>
                            <select data-val="true" data-val-required="Выберите вид договора" class="selectpicker form-control" data-live-search="true" title="Вид договора" id="PrivContract_IdContractKind">
                                <option value="1">Без кадастрового паспорта</option>
                                <option selected value="2">С кадастровым паспортом</option>
                            </select>
                            <span class="text-danger field-validation-valid" data-valmsg-for="PrivContract_IdContractKind" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary rr-report-submit">Сформировать</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                </div>
            </div>
        </div>
    </div>
</form>