@model IEnumerable<RegistryWeb.ViewModel.SubPremiseVM>;
@using RegistryWeb.Extensions;
@using RegistryWeb.ViewOptions;
@using RegistryWeb.Models.Entities;
@using RegistryWeb.SecurityServices;

@{
    var securityService = (SecurityService)ViewBag.SecurityService;
}
<form id="subpremisesForm">
        <script src="~/js/subPremises.common.js" asp-append-version="true"></script>
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between pt-2 pb-2">
            <h4 class="mt-1">
                Комнаты
                <span class="badge badge-secondary subPremisesbadge ml-1">
                    @if (Model.Count() >= 1)
                    {
                        @Model.Count()
                    }
                </span>
            </h4>
            <div class="btn-group" role="group">
                @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                {
                    <a href="#" id="subPremiseAdd" class="form-control btn btn-success @((securityService.HasPrivilege(Privileges.RegistryWriteMunicipal) || securityService.HasPrivilege(Privileges.RegistryWriteNotMunicipal)) ? "" : "disabled")" title="Добавить комнату">&#10010;</a>
                }
                <a href="#" id="subPremisesToggle" class="form-control btn btn-primary" title="Развернуть список комнат" style="font-weight:bold;">∨</a>
            </div>
        </div>
        <ul class="list-group list-group-flush toggle-hide" id="subPremisesList" data-premise-id="@ViewBag.IdPremises" data-action="@ViewBag.Action">
            @foreach (var item in Model)
            {
                <partial name="SubPremise" model="item" />
            }
        </ul>
    </div>
</form>