@model IEnumerable<RegistryServices.ViewModel.RegistryObjects.SubPremiseVM>;
@using RegistryWeb.Extensions;
@using RegistryWeb.ViewOptions;
@using RegistryDb.Models.Entities;
@using RegistryWeb.Enums;
@using RegistryWeb.SecurityServices;

@{
    var securityService = (SecurityService)ViewBag.SecurityService;
}
<form id="subpremisesForm" autocomplete="off">
    <script src="~/js/subPremises.common.js" asp-append-version="true"></script>
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between pt-2 pb-2">
            <h4 class="mt-1">
                Комнаты
                @{
                    var count = Model != null && Model.Any() ? Model.Count().ToString() : "";
                    var visible = Model != null && Model.Any() ? "" : "style='display: none;'";
                }
                <span class="badge badge-secondary rr-count-badge ml-1" @Html.Raw(visible)>
                    @count
                </span>
            </h4>
            <div class="btn-group" role="group">
                @if (ViewBag.Action == ActionTypeEnum.Edit || ViewBag.Action == ActionTypeEnum.Create)
                {
                    <a href="#" id="subPremiseAdd" class="form-control btn btn-success @(ViewBag.CanEditBaseInfo ?? false ? "" : "disabled")" title="Добавить комнату">&#10010;</a>
                }
                <a href="#" id="subPremisesToggle" class="form-control btn btn-primary" title="Развернуть список комнат" style="font-weight:bold;">∨</a>
            </div>
        </div>
        <ul class="list-group list-group-flush toggle-hide" id="subPremisesList" data-premise-id="@ViewBag.IdPremises" data-action="@ViewBag.Action">
            @foreach (var item in Model)
            {
                <partial name="SubPremise" model="item" />
            }
        </ul>
    </div>
</form>