@model RegistryWeb.ViewModel.BuildingsVM;
<form asp-action="Index" method="get" class="r-filter-form">
    <input type="hidden" asp-for="OrderOptions.OrderDirection" />
    <input type="hidden" asp-for="OrderOptions.OrderField" />
    <input type="hidden" asp-for="PageOptions.CurrentPage" />
    <input type="hidden" asp-for="PageOptions.SizePage" />
    <input type="hidden" asp-for="FilterOptions.Address.AddressType" />
    <input type="hidden" asp-for="FilterOptions.Address.Id" />

    <div class="form-row">
        <div class="form-group col-2">
            <select class="form-control" asp-for="FilterOptions.IdObjectState" asp-items="@{
                new SelectList(ViewBag.ObjectStates, "IdState", "StateNeutral", Model.FilterOptions.IdObjectState)}">
                <option value="0">Все состояния</option>
            </select>
        </div>
        <div class="input-group col-8">
            <input type="text" class="form-control col" asp-for="FilterOptions.Address.Text" title="Адрес" placeholder="Адрес" />
            <div class="input-group-append h-auto d-inline-block">
                <button class="btn btn-outline-secondary" type="button" id="addressFilterClearBtn">&#10006;</button>
            </div>
        </div>
        <div class="form-group col">
            <a class="btn btn-block btn-secondary" id="r-search-btn">Найти</a>
        </div>
        <div class="form-group col">
            <a class="btn btn-block btn-success" asp-controller="Buildings" asp-action="BuildingReports">Отчеты</a>
        </div>
    </div>
</form>
