@model RegistryWeb.ViewModel.BuildingsVM;
@{
    ViewData["Title"] = "Реестр зданий";
    var text = Model.PageOptions.TotalRows == Model.PageOptions.Rows ?
        "(" + Model.PageOptions.TotalRows + ")" :
        "(" + Model.PageOptions.Rows + " из " + Model.PageOptions.TotalRows + ")";
}

<h2>@ViewData["Title"] @text</h2>

@Html.Partial("Filter", Model)
@Html.Partial("DataTable", Model)
<partial name="ReportsModals">
<page-link page-model="Model.PageOptions" page-action="Index"></page-link>
@section validation
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
}
@section Scripts {
    <script src="~/js/building.index.js" asp-append-version="true"></script>
    <script src="~/js/building.reports.js" asp-append-version="true"></script>
}
@section styles{
    <link rel="stylesheet" href="~/css/building.index.css" runat="server" />
}
