@model RegistryWeb.ViewModel.BuildingsVM;
@{
    ViewData["Title"] = "Реестр зданий";
    var text = Model.PageOptions.TotalRows == Model.PageOptions.Rows ?
        "(" + Model.PageOptions.TotalRows + ")" :
        "(" + Model.PageOptions.Rows + " из " + Model.PageOptions.TotalRows + ")";
}

<h2>@ViewData["Title"] @text</h2>

<partial name="Filter" model="Model"/>
<partial name="DataTable" model="Model" />
<partial name="ReportsModals">
<page-link page-model="Model.PageOptions" page-action="Index"></page-link>

@section Scripts {
    <script src="~/js/address.filter.js" asp-append-version="true"></script>
    <script src="~/js/index.common.js" asp-append-version="true"></script>
    <script src="~/js/building.index.js" asp-append-version="true"></script>
    <script src="~/js/building.reports.js" asp-append-version="true"></script>
}
@section styles{
    <link rel="stylesheet" href="~/css/building.index.css" runat="server" />
}
