<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dbName" value="registry_test"/>
  </appSettings>
  <connectionStrings>
    <add name="registry" connectionString="server=db01;port=3306;user=registry_p_calc;password=registry_p_calc;database={0};"/>
  </connectionStrings>
</configuration>