@using RegistryWeb.Models;
@model RegistryWeb.Models.Entities.Owner;
@{
    int i = ViewBag.Id;
}
<tr class="ownerBlock" data-i-owner="@i">
    <input type="hidden" asp-for="IdOwner" id="Owners_@(i)__IdOwner" name="Owners[@i].IdOwner" />
    <input type="hidden" asp-for="IdProcess" id="Owners_@(i)__IdProcess" name="Owners[@i].IdProcess" />
    <input type="hidden" asp-for="IdOwnerType" id="Owners_@(i)__IdOwnerType" name="Owners[@i].IdOwnerType" />
    <td class="align-middle text-center">
        @Html.DisplayFor(modelItem => Model.IdOwnerTypeNavigation.OwnerType1)
    </td>
    <td class="align-middle text-center">
        <div class="btn-group" role="group">
            <a href="#" class="form-control btn btn-primary reasonToggle" title="Развернуть список документов-оснований" style="font-weight:bold;">&#8744;</a>
            @if (ViewBag.Action == "Create" || ViewBag.Action == "Edit")
            {
                <a class="form-control btn btn-success reasonAdd" title="Добавить документ-основание">&#10010;</a>
            }
        </div>
    </td>
    <td class="align-middle text-center">
        @if (ViewBag.Action != "Create" && Model.OwnerReasons.Count() > 0)
        {
            @(Model.OwnerReasons
                .Select(r => new Fraction(r.NumeratorShare,r.DenominatorShare))
                .Aggregate((x, y) => x + y)
                .Reduce()
                .ToString())
        }
    </td>
    <td class="align-middle">
        <div class="row">
            @if (Model.IdOwnerType == 1 && Model.OwnerPerson != null)
            {
                <input type="hidden" asp-for="OwnerPerson.IdOwner" id="Owners_@(i)__OwnerPerson_IdOwner" name="Owners[@i].OwnerPerson.IdOwner" />
                <div class="col">
                    <input type="text" class="form-control" placeholder="Фамилия"
                           asp-for="OwnerPerson.Surname" id="Owners_@(i)__OwnerPerson_Surname" name="Owners[@i].OwnerPerson.Surname">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Имя"
                           asp-for="OwnerPerson.Name" id="Owners_@(i)__OwnerPerson_Name" name="Owners[@i].OwnerPerson.Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Отчество"
                           asp-for="OwnerPerson.Patronymic" id="Owners_@(i)__OwnerPerson_Patronymic" name="Owners[@i].OwnerPerson.Patronymic">
                </div>
            }
            @if ((Model.IdOwnerType == 2 || Model.IdOwnerType == 3) && Model.OwnerOrginfo != null)
            {
                <input type="hidden" asp-for="OwnerOrginfo.IdOwner" id="Owners_@(i)__OwnerOrginfo_IdOwner" name="Owners[@i].OwnerOrginfo.IdOwner" />
                <div class="col">
                    <input type="text" class="form-control" placeholder="Наименование"
                           asp-for="OwnerOrginfo.OrgName" id="Owners_@(i)__OwnerOrginfo_OrgName" name="Owners[@i].OwnerOrginfo.OrgName">
                </div>
            }
        </div>
    </td>
    @if (ViewBag.Action == "Create" || ViewBag.Action == "Edit")
    {
        <td class="align-middle">
            <a class="btn btn-danger close" title="Удалить" aria-label="Удалить">&#10006;</a>
        </td>
    }
</tr>
@if (Model.OwnerReasons != null)
{
    @for (var j = 0; j < Model.OwnerReasons.Count(); j++)
    {
        @await Component.InvokeAsync("OwnerReasonComponent",
            new { ownerReason = Model.OwnerReasons[j], iOwner = i, iReason = j, action = ViewBag.Action })
    }
}