@model IEnumerable<RegistryWeb.ViewModel.OwnershipRightVM>;
<form id="ownershipRightsForm">
    <script src="~/js/ownershipRights.common.js" asp-append-version="true"></script>
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h3>Ограничения</h3>
            <div class="btn-group" role="group">
                @if (ViewBag.Action == "Edit" || ViewBag.Action == "Create")
                {
                    <a href="#" id="ownershipRightAdd" class="form-control btn btn-success" title="Добавить ограничение">&#10010;</a>
                }
                <a href="#" id="ownershipRightsToggle" class="form-control btn btn-primary" title="Развернуть список ограничений" style="font-weight:bold;">∨</a>
            </div>
        </div>
        <ul class="list-group list-group-flush" id="ownershipRightsList" style="display: none" data-addresstype="@ViewBag.Address.AddressType" data-id="@ViewBag.Address.Id" data-action="@ViewBag.Action">
            @foreach (var item in Model)
            {
                <partial name="~/Views/Shared/Components/OwnershipRightsComponent/OwnershipRight.cshtml " model="item" />
            }
        </ul>
    </div>
</form>