.dopinfo {
    color: #888;
    font-size: 75%;
}

.dopinfo-alt {
    color: #212529;
    font-size: 75%;
}

.rr-building-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-bottom: 0.24rem;
}

.b-table > thead > tr > th a.sort {
    color: #888;
}

.b-table > thead > tr > th a.sort:hover {
    color: black;
}

.b-table > thead > tr > th a.sort.b-sorted {
    color: #007bff;
}

.b-table > thead > tr > th a.sort.b-sorted:hover {
    color: #0056b3;
}

.b-table th {
    white-space: nowrap;
}

.b-table > tbody td {
    padding: 0.4rem 0.75rem;
}