.r-form-group-label {
    margin-bottom: 0px;
}
.r-form-group-checkbox {
    margin-left: 1.25rem;
}

.rr-building-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-bottom: 0.24rem;
}