.c-table > thead > tr > th a.sort {
    color: #888;
}

.c-table > thead > tr > th a.sort:hover {
    color: black;
}

.c-table > thead > tr > th a.sort.c-sorted {
    color: #007bff;
}

.c-table > thead > tr > th a.sort.c-sorted:hover {
    color: #0056b3;
}

.c-table > tbody td {
    padding: 0.4rem 0.75rem;
}

.rr-claim-filter-label, .rr-claim-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-bottom: 0.24rem;
    vertical-align: bottom;
}

.rr-claim-label {
    margin-bottom: 0.1rem;
}

.rr-claim-ext-info {
    display: none;
}

.rr-comparison-sign {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.dopinfo {
    color: #888;
    font-size: 75%;
}

.dopinfo-alt {
    color: #212529;
    font-size: 75%;
}@media(min-width: 992px) {
    .rr-claim-end-for-filter-checkbox {
        margin-top: 22px;
    }
}

#ClaimAmount table {
    font-size: 70%;
}



@media(min-width: 768px) {
    #ClaimAmount table {
        font-size: 80%;
    }
}

@media(min-width: 992px) {
    #ClaimAmount table {
        font-size: 100%;
    }
}}