.list-group-item.rr-claim-state-active {
border-left: 2px solid red;
}

.rr-claim-states-edit-buttons {
    margin-top: 6px;
}

@media(min-width: 768px) {
    .rr-claim-states-edit-buttons {
        margin-top: 28px;
    }
}
