#fundshistory{
    height: 50%;
}

#fundhistory {
    height: 50%;
    margin-bottom: 2%;
}

.hover{
    cursor: pointer;
}

#fundhistoryAdd{
    width: 38px;
}



.hover1 {
    background-color: #E9ECEF;
    color: black;
}

.hover2 {
    background-color: #0063CD;
    color: white;
}




/*Если строка выделена*/
.table .active1{
    background-color: #007bff;
    color: white;
}

.table tr .active1 :after{
    background-color: #007bff;
    color: white;
}

.table tr .active1 :hover {
    background-color: #0068D8;
    color: white;
}

