#fundshistory{
    height: 50%;
}

#fundhistory {
    height: 50%;
    margin-bottom: 2%;
}

.hover{
    cursor: pointer;
}



.input-validation-error {
    border: 1px solid #dc3545;
}


.hover1 {
    background-color: #E9ECEF;
    color: black;
} /*тень для невыделенных строк*/


.hover2 {
    background-color: #0063CD;
    color: white;
} /*тень для выделенных строк*/





/*Если строка выделена*/
.table .active1{
    background-color: #007bff;
    color: white;
}

.table tr .active1{/* :after{*/
    background-color: #007bff;
    color: white;
}




