.tp-table > thead > tr > th a.sort {
    color: #888;
}

.tp-table > thead > tr > th a.sort:hover {
    color: black;
}

.tp-table > thead > tr > th a.sort.tp-sorted {
    color: #007bff;
}

.tp-table > thead > tr > th a.sort.tp-sorted:hover {
    color: #0056b3;
}

.rr-account-filter-label, .rr-account-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-bottom: 0.24rem;
}

.account-open-claim-btn {
    margin-top: 12px;
}

@media(min-width: 576px) {
    .account-open-claim-btn {
        margin-top: 23px;
    }
}

@media(min-width: 768px) {
    .account-open-claim-btn {
        margin-top: 27px;
    }
}

.rr-account-list-eye-btn {
    margin-top: -5px;
    font-size: 80%;
}

.rr-account-list-eye-btn:focus  {
    box-shadow: none;
}

.rr-account-additional-info, .rr-charge-archive {
    display: none;
}

.rr-account-recalc-reason:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

#Charges, #ClaimsInfo {
    font-size: 35%;
}

.rr-account-tenancy-address {
    flex: 3 !important;
}

@media(min-width: 768px) {
    #Charges {
        font-size: 50%;
    }

     #ClaimsInfo {
        font-size: 65%;
    }

    .rr-account-tenancy-address {
        flex: 5 !important;
    }
}

@media(min-width: 992px) {
    #Charges, #ClaimsInfo {
        font-size: 70%;
    }

    .rr-account-tenancy-address {
        flex: 9 !important;
    }
}

@media(min-width: 1200px) {
    #Charges, #ClaimsInfo {
        font-size: 80%;
    }

    .rr-account-tenancy-address {
        flex: 10 !important;
    }
}

@media print
{
    .rr-invoice-errors {

    }
}

.rr-page-break {
    page-break-after: always;
}

.rr-tenancy-type-selectors label {
    cursor: pointer;
}

.dopinfo-alt {
    color: #212529;
    font-size: 75%;
}

.dopinfo {
    color: #888;
    font-size: 75%;
}

#Charges thead {
    top: 0;
    position: sticky;
    background: white;
}

#Charges thead th, #Charges tbody td {
    outline: 1px solid #dee2e6;
}

.form-check{
    padding-left: 1.7rem;
}