.cardreport {
    background-color: #E4E4E4;
    font-weight: 400;
}

.cardreport:hover {
    background-color: #CACACA;
    cursor: pointer;
}

.modal-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}