.cardreport {
    /*background-color: #B0EEF0;*/
    background-color: #E4E4E4;
    font-weight: 400;
}

    .cardreport:hover {
        /*background-color: #A3E1E3;*/
        background-color: #CACACA;
        cursor: pointer;
    }

a:link{
    color:black;
    text-decoration:none;
}