.p-table > thead > tr > th a.sort {
    color: #888;
}

.p-table > thead > tr > th a.sort:hover {
    color: black;
}

.p-table > thead > tr > th a.sort.p-sorted {
    color: #007bff;
}

.p-table > thead > tr > th a.sort.p-sorted:hover {
    color: #0056b3;
}

.p-table th {
    white-space: nowrap;
}

#premisecreate{
    height: 30px;
}

.dopinfo {
    color: #888;
    font-size: 75%;
}

.dopinfo-alt {
    color: #212529;
    font-size: 75%;
}

.p-table > tbody td {
    padding: 0.4rem 0.75rem;
}

.but{
    padding-left: 22%;
}

#filterModalShow{
    color: white;
}

input.input-validation-error, button.input-validation-error {
    border: 1px solid #dc3545;
}

.input-group-addon {
    cursor:pointer;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.p-table-low-width-hide-cell {
    display: none;
}

@media(min-width: 992px)
{
    .p-table-low-width-hide-cell {
        display: table-cell;
    }

    .jurdate {
        width: 160px;
    }

    .juri {
        width: 195px;
        margin: 0 2px;
    }

    .jurpanel {
        width: 85px;
        margin-left: 3px;
        margin-top: 32px;
    }
}

@media(min-width: 1228px)
{
    .jurdate {
        width: 180px;
    }

    .juri {
        width: 260px;
    }

    .jurpanel {
        width: 85px;
        margin-left: 3px;
        margin-top: 32px;
    }
}

.rr-premises-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: bottom;
}

.addselect {
    cursor: pointer;
}

