.p-table > thead > tr > th a.sort {
    color: #888;
}

.p-table > thead > tr > th a.sort:hover {
    color: black;
}

.p-table > thead > tr > th a.sort.p-sorted {
    color: #007bff;
}

.p-table > thead > tr > th a.sort.p-sorted:hover {
    color: #0056b3;
}

#premisecreate{
    height: 30px;
}

#dopinfo {
    color: #888;
    font-size: 75%;
}

.but{
    padding-left: 22%;
}

#filterModalShow{
    color: white;
    /*font-weight: bold;*/
}

.error-message span {
    color: crimson;
    font-weight: bold;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

.input-group-addon {
    cursor:pointer;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}