/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

fieldset.r-scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1em 1.4em !important;
    margin: 0 0 1em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.r-scheduler-border {
    font-size: 1.2em !important;
    /*font-weight: bold !important;*/
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

.card {
    margin-bottom: 10pt;
}

.rr-ownership-right-edit-buttons, .rr-restriction-edit-buttons, .rr-attachment-file-edit-buttons, .rr-litigation-edit-buttons, .rr-sub-premise-edit-buttons, .rr-sub-premise-nav-buttons, .rr-resettle-edit-buttons,
.rr-resettle-edit-buttons-2, .rr-resettle-document-edit-buttons {
    margin-top: 0;
}

@media(min-width: 576px) {
    .rr-resettle-document-edit-buttons {
        margin-top: 26px;
    }
}

@media(min-width: 768px) {
    .rr-sub-premise-edit-buttons, .rr-sub-premise-nav-buttons, .rr-resettle-edit-buttons, .rr-resettle-document-edit-buttons, .rr-litigation-edit-buttons {
        margin-top: 28px;
    }
}


@media(min-width: 992px) {
    .rr-restriction-edit-buttons, .rr-ownership-right-edit-buttons {
        margin-top: 28px;
    }

    .rr-attachment-file-edit-buttons {
        margin-top: 28px;
    }
}

h5.rr-resettle-card-header-sub-title {
    margin-bottom: .25rem;
}

.toggle-hide {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
}

.rr-resettle-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-bottom: 0.24rem;
}

input.input-validation-error, button.input-validation-error, textarea.input-validation-error {
    border: 1px solid #dc3545;
}

.rr-index-tools-dropdown-menu.show {
    display: flex;
}

.rr-opacity-item-menu {
    display: none;
}

.table tr:hover .rr-opacity-item-menu {
    display: flex;
    position: absolute;
    right: 5px;
    top: 5px;
    background: white;
    padding: 4pt 5pt;
    border: 1px solid #ccc;
    border-radius: .25rem;
    padding-left: -50%;
    opacity: 0.1;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
}

.rr-opacity-item-menu:hover {
    opacity: 1 !important;
}