    .tp-table > thead > tr > th a.sort {
        color: #888;
    }

    .tp-table > thead > tr > th a.sort:hover {
        color: black;
    }

    .tp-table > thead > tr > th a.sort.tp-sorted {
        color: #007bff;
    }

    .tp-table > thead > tr > th a.sort.tp-sorted:hover {
        color: #0056b3;
    }

.rr-tenancy-filter-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-bottom: 0.24rem;
}