.tp-table > thead > tr > th a.sort {
    color: #888;
}

.tp-table > thead > tr > th a.sort:hover {
    color: black;
}

.tp-table > thead > tr > th a.sort.tp-sorted {
    color: #007bff;
}

.tp-table > thead > tr > th a.sort.tp-sorted:hover {
    color: #0056b3;
}

.tp-table > tbody td {
    padding: 0.4rem 0.75rem;
}

.tp-table th {
    white-space: nowrap;
}

.dopinfo {
    color: #888;
    font-size: 75%;
}

.dopinfo-alt {
    color: #212529;
    font-size: 75%;
}

.tp-table-low-width-hide-cell {
    display: none;
}

@media(min-width: 992px) {
    .tp-table-low-width-hide-cell {
        display: table-cell;
    }
}

.rr-tenancy-filter-label, .rr-tenancy-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-bottom: 0.24rem;
    vertical-align: bottom;
}

.rr-until-dismissal-checkbox {
    padding-left: 2.2rem;
}

@media(min-width: 992px) {
    .rr-until-dismissal-checkbox {
        padding-top: 34px;
    }
}

.rr-tenancy-card {
    margin-top: 0;
}

.rr-tenancy-card table.card-body {
    margin-bottom: 0;
}

.rr-sub-rent-table-untill-dismissal-checkbox input[type="checkbox"] {
    display: inline-block;
}

.table td.rr-sub-rent-table-untill-dismissal-checkbox {
    vertical-align: middle;
}

.tenancy-agreement-content {
    overflow: hidden;
    resize: none;
}

button[id^="homesBtn_"] {
    margin-bottom: 5px;
}