@model RegistryWeb.Models.Entities.OwnerProcess;
@{
    ViewData["Title"] = "Аннулирование процесса собственности №" + Model.IdProcess;
}

<h2>@ViewData["Title"]</h2>
<form asp-action="Index" method="post">
    <input type="hidden" asp-for="IdProcess" />
    <input type="hidden" asp-for="Comment" />
    <input type="hidden" asp-for="Deleted" />
    <button type="submit" class="btn btn-danger">Аннулировать</button>
    <div class="form-group">
        <label for="AnnulDate">Дата аннулирования</label>
        <input type="date" class="form-control" asp-for="AnnulDate">
    </div>
    <div class="form-group">
        <label for="AnnulComment">Причина аннулирования</label>
        <input type="text" class="form-control" asp-for="AnnulComment">
    </div>
</form>
