@model RegistryWeb.ViewModel.OwnerProcessVM;
@{
    ViewData["Title"] = "Создание процесса собственности";
}

<h2>@ViewData["Title"]</h2>
<form asp-controller="OwnerProcesses" asp-action="Create" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="control-label">Тип собственника</label>
            <select class="form-control" id="ownerType" asp-for="OwnerProcess.IdOwnerType" asp-items="@{
            new SelectList(Model.OwnerTypes, "IdOwnerType", "OwnerType1")}"></select>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="OwnerProcess.AnnulDate" class="control-label">Дата аннулирования</label>
            <input type="date" asp-for="OwnerProcess.AnnulDate" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="OwnerProcess.FromDate" class="control-label">Дата возникновения прав собственности</label>
            <input type="date" asp-for="OwnerProcess.FromDate" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="OwnerProcess.ToDate" class="control-label">Дата прекращения прав собственности</label>
            <input type="date" asp-for="OwnerProcess.ToDate" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="OwnerProcess.Comment" class="control-label">Комментарий</label>
        <textarea rows="3" asp-for="OwnerProcess.Comment" class="form-control"></textarea>
    </div>
    <div class="form-group" id="addresses">
        <a class="btn btn-success" id="addressAdd">Добавить адрес</a>
        @await Component.InvokeAsync("AddressComponent", new { address = Model.Addresses[0], id = 0 })
    </div>
    <div class="form-group" id="ownerReasons">
        <a class="btn btn-success" id="ownerReasonAdd">Добавить основание</a>
        @await Component.InvokeAsync("OwnerReasonComponent", new { ownerReason = Model.OwnerReasons[0], id = 0 })
    </div>
    <div class="form-group" id="owners">
        <a class="btn btn-success" id="ownerAdd">Добавить собственника</a>
        @await Component.InvokeAsync("OwnerPersonComponent", new { ownerPerson = Model.OwnerPersons[0], id = 0 })
    </div>
    <div class="form-group">
        <a class="btn btn-default" asp-controller="OwnerProcesses" asp-action="Index">Назад</a>
        <input type="submit" value="Создать" class="btn btn-success" />
    </div>
</form>


@section Scripts {
    <script src="~/js/address.common.js" asp-append-version="true"></script>
    <script src="~/js/ownerReason.common.js" asp-append-version="true"></script>
    <script src="~/js/owner.common.js" asp-append-version="true"></script>
    <script src="~/js/ownerProcess.create.js" asp-append-version="true"></script>
}