@model RegistryWeb.ViewModel.OwnerProcessesVM;

<form asp-action="Index" method="get" class="r-filter-form">
    <input type="hidden" asp-for="OrderOptions.OrderDirection" />
    <input type="hidden" asp-for="OrderOptions.OrderField" />
    <input type="hidden" asp-for="PageOptions.CurrentPage" />
    <input type="hidden" asp-for="PageOptions.SizePage" />

    <div class="form-row">
        <div class="form-group col-auto">
            <a class="btn btn-success oi oi-plus" title="Добавить" aria-label="Добавить" asp-controller="OwnerProcesses" asp-action="Create"></a>
        </div>
        <div class="form-group col-2">
            <input type="text" class="form-control" placeholder="№ по реестру" />
        </div>
        <div class="form-group col-2">
            <select class="form-control" asp-for="FilterOptions.IdProcessType"
                    asp-items="@{new SelectList(ViewBag.OwnerTypes, "IdOwnerType", "OwnerType1", Model.FilterOptions.IdProcessType)}">
                <option value="" selected>Тип собственника</option>
            </select>
        </div>
        <div class="form-group col-6">
            <input type="text" class="form-control" asp-for="FilterOptions.Street" placeholder="Улица" />
        </div>
        <div class="form-group col">
            <button class="btn btn-block btn-secondary r-index-search-button" type="submit">Найти</button>
        </div>
    </div>
        
</form>
