@using RegistryWeb.Extensions;
@model RegistryWeb.Models.Entities.OwnerProcess;
@{
    var annulChecked = Model.AnnulDate == null ? "checked" : "";
    var controller = Context.Session.Get<string>("Controller");
}
<form asp-controller="OwnerProcesses" asp-action="@ViewBag.Action" id="r-ownerprocess-form" data-action="@ViewBag.Action" method="post">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="form-check form-check-inline">
                <input id="annulOwnerProcessCheckbox" class="form-check-input" type="checkbox" @annulChecked data-toggle="toggle" data-on=" " data-off=" " data-onstyle="success" data-offstyle="danger">
                <label class="form-check-label h2 ml-2">@ViewData["Title"]</label>
                <sup class="badge badge-danger ml-2" id="annulBadge">Аннулирован</sup>
            </div>
            <div class="btn-group" role="group" aria-label="Панель доступа">
                <a class="form-control btn btn-primary" asp-controller="@controller" asp-action="Index" asp-route-isBack="true">Назад</a>
                @if (ViewBag.Action == "Create")
                {
                    <input type="submit" value="Создать" class="form-control btn btn-success" />
                }
                @if (ViewBag.Action == "Edit")
                {
                    <input type="submit" value="Сохранить" class="form-control btn btn-success" />
                }
                @if (ViewBag.Action == "Delete")
                {
                    <input type="submit" value="Удалить" class="form-control btn btn-danger" />
                }
                <a href="#" id="ownerProcessToggle" class="form-control btn btn-primary" title="Развернуть процесс собственности" style="font-weight:bold;">∧</a>
            </div>
        </div>
        <div class="card-body" id="ownerProcess">
            <input type="hidden" asp-for="IdProcess" />
            <div class="validation text-danger" asp-validation-summary="All"></div>
            <div class="card" id="annulOwnerProcessCard">
                <div class="card-header d-flex justify-content-between">
                    <h3>Завершение процесса</h3>
                    <div>
                        <a href="#" id="annulOwnerProcessToggle" class="form-control btn btn-primary" title="Развернуть панель аннулирования" style="font-weight:bold;">∧</a>
                    </div>
                </div>
                <div id="annulOwnerProcess" class="card-body row">
                    <div class="col-2">
                        <input type="date" class="form-control" placeholder="Дата аннулирования" title="Дата аннулирования"
                               asp-for="AnnulDate" />
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Причина аннулирования" title="Причина аннулирования"
                               asp-for="AnnulComment" />
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h3>Адреса</h3>
                    <div class="btn-group" role="group">
                        @if (ViewBag.Action == "Create" || ViewBag.Action == "Edit")
                        {
                            <a href="#" id="addressAdd" class="form-control btn btn-success" title="Добавить адрес">&#10010;</a>
                        }
                        <a href="#" id="addressesToggle" class="form-control btn btn-primary" title="Развернуть коментарий" style="font-weight:bold;">∧</a>
                    </div>
                </div>
                <div id="addresses" class="card-body">
                    @if (Model.OwnerBuildingsAssoc != null)
                    {
                        @for (var i = 0; i < Model.OwnerBuildingsAssoc.Count(); i++)
                        {
                            @await Component.InvokeAsync("AddressComponent",
                                     new { addressAssoc = Model.OwnerBuildingsAssoc[i], id = i, action = ViewBag.Action })
                        }
                    }
                    @if (Model.OwnerPremisesAssoc != null)
                    {
                        @for (var i = 0; i < Model.OwnerPremisesAssoc.Count(); i++)
                        {
                            @await Component.InvokeAsync("AddressComponent",
                                     new { addressAssoc = Model.OwnerPremisesAssoc[i], id = i, action = ViewBag.Action })
                        }
                    }
                    @if (Model.OwnerSubPremisesAssoc != null)
                    {
                        @for (var i = 0; i < Model.OwnerSubPremisesAssoc.Count(); i++)
                        {
                            @await Component.InvokeAsync("AddressComponent",
                                     new { addressAssoc = Model.OwnerSubPremisesAssoc[i], id = i, action = ViewBag.Action })
                        }
                    }
                </div>
            </div>
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h3>Собственники</h3>
                    <div class="btn-group" role="group">
                        @if (ViewBag.Action == "Create" || ViewBag.Action == "Edit")
                        {
                            <a class="form-control">Добавить:</a>
                            <a href="#" class="form-control btn btn-success ownerAdd" title="Добавить физическое лицо" data-id-owner-type="1">ФЛ</a>
                            <a href="#" class="form-control btn btn-success ownerAdd" title="Добавить юридическое лицо" data-id-owner-type="2">ЮЛ</a>
                            <a href="#" class="form-control btn btn-success ownerAdd" title="Добавить индивидуального предпринимателя" data-id-owner-type="3">ИП</a>
                        }
                        <a href="#" id="ownersToggle" class="form-control btn btn-primary" title="Развернуть список собственников" style="font-weight:bold;">∧</a>
                    </div>
                </div>
                <table class="table table-bordered" id="ownersTable">
                    <thead>
                        <tr>
                            <th width="100px">Тип</th>
                            <th width="100px">Документы</th>
                            <th width="50px">Доля</th>
                            <th>Данные</th>
                            @if (ViewBag.Action == "Create" || ViewBag.Action == "Edit")
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody id="owners">
                        @if (Model.Owners != null)
                        {
                            @for (var i = 0; i < Model.Owners.Count(); i++)
                            {
                                @await Component.InvokeAsync("OwnerComponent",
                                    new { owner = Model.Owners[i], id = i, action = ViewBag.Action })
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h3 for="Comment">Комментарий</h3>
                    <div class="btn-group" role="group">
                        <a href="#" id="commentToggle" class="form-control btn btn-primary" title="Развернуть коментарий" style="font-weight:bold;">∧</a>
                    </div>
                </div>
                <textarea rows="3" asp-for="Comment" class="form-control card-body"></textarea>
            </div>
        </div>
    </div>
</form>