@model IEnumerable<RegistryWeb.Models.Entities.LogOwnerProcess>;
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h3 for="Comment">Журнал изменений</h3>
        <div class="btn-group" role="group">
            <a href="#" id="logToggle" class="form-control btn btn-primary" title="Развернуть журнал изменений" style="font-weight:bold;">∧</a>
        </div>
    </div>
    <log-owner-process elements="Model" class="table table-bordered card-body" id="logTable"></log-owner-process>
</div>