
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="UploadPayments" method="post" enctype="multipart/form-data">
    <input name="Files" type="file" multiple />
    <button>Submit</button>
</form>

