@model RegistryServices.ViewModel.KumiAccounts.KumiPaymentsVM;
@{
    ViewData["Title"] = "Платежи";
    var text = Model.PageOptions.TotalRows == Model.PageOptions.Rows ?
        "(" + Model.PageOptions.TotalRows + ")" :
        "(" + Model.PageOptions.Rows + " из " + Model.PageOptions.TotalRows + ")";
    if (Model.RefAccount != null)
    {
        ViewData["Title"] += " по ЛС №" + Model.RefAccount.Account;
        if (Model.FilterOptions.StartDate != null || Model.FilterOptions.EndDate != null)
        {
            ViewData["Title"] += " ";
        }
        if (Model.FilterOptions.StartDate != null)
        {
            ViewData["Title"] += "с "+ Model.FilterOptions.StartDate.Value.ToString("dd.MM.yyyy");
        }
        if (Model.FilterOptions.StartDate != null && Model.FilterOptions.EndDate != null)
        {
            ViewData["Title"] += " ";
        }
        if (Model.FilterOptions.EndDate != null)
        {
            ViewData["Title"] += "по " + Model.FilterOptions.EndDate.Value.ToString("dd.MM.yyyy");
        }
    }
    if (Model.RefClaim != null)
    {
        ViewData["Title"] += " по исковой работе №" + Model.RefClaim.IdClaim;
    }
    if (Model.RefClaim != null || Model.RefAccount != null)
    {
        text = "("+ Model.PageOptions.Rows + ")";
    }
}

@section styles
{
    <link rel="stylesheet" href="~/css/kumi.payments.css" runat="server" />
}

<div class="col info text-center" data-controller="KumiPayments"></div>

<h2>@ViewData["Title"] @text</h2>

<partial name="Filter" model="Model" />
<partial name="DataTable" model="Model" />

<page-link page-model="Model.PageOptions" page-action="Index"></page-link>

<partial name="PaymentModals" />

@section Scripts {
    <script src="~/js/index.common.js" asp-append-version="true"></script>
    <script src="~/js/address.filter.js" asp-append-version="true"></script>
    <script src="~/js/index.common.js" asp-append-version="true"></script>
    <script src="~/js/index.kumi.payments.js" asp-append-version="true"></script>
    <script src="~/js/kumiPayments.memorialOrders.js" asp-append-version="true"></script>
    <script src="~/js/kumiPayments.distributeToAccount.js" asp-append-version="true"></script>
}



