@model RegistryWeb.ViewModel.OwnerReasonEditVM;
@{
    ViewData["Title"] = "Добавление основания собственности";
}

<h2>@ViewData["Title"]</h2>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#general" aria-controls="general" role="tab" data-toggle="tab">Общие сведения</a>
        <a href="#reasons" aria-controls="reasons" role="tab" data-toggle="tab">Основания найма</a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="general">
        <form asp-controller="OwnerReasons" asp-action="Create">
            <div class="form-group">
                <label asp-for="OwnerReason.IdReasonType" class="control-label">Название</label>
                <select class="form-control" asp-for="OwnerReason.IdReasonType" asp-items="@{
            new SelectList(Model.OwnerReasonTypes, "IdReasonType", "ReasonName")}"></select>

                <label asp-for="OwnerReason.ReasonNumber" class="control-label">Номер</label>
                <input type="text" asp-for="OwnerReason.ReasonNumber" class="form-control" />

                <label asp-for="OwnerReason.ReasonDate" class="control-label">Дата</label>
                <input type="date" asp-for="OwnerReason.ReasonDate" class="form-control" />
            </div>
            <div class="form-group">
                <a class="btn btn-default" asp-controller="OwnerReasons" asp-action="Index">Назад</a>
                <input type="submit" value="Добавить" class="btn btn-success" />
            </div>
        </form>
    </div>
    <div role="tabpanel" class="tab-pane fade in active" id="reasons">

    </div>
</div>





