@model RegistryWeb.ViewModel.PaymentsVM;
@using RegistryWeb.SecurityServices;

@{
    var securityService = (SecurityService)ViewData["SecurityService"];
}

<form asp-action="Index" method="get" class="filterForm" autocomplete="off">
    <input type="hidden" asp-for="OrderOptions.OrderDirection" />
    <input type="hidden" asp-for="OrderOptions.OrderField" />
    <input type="hidden" asp-for="PageOptions.CurrentPage" />
    <input type="hidden" asp-for="PageOptions.SizePage" />
    <input type="hidden" asp-for="FilterOptions.Address.AddressType" />
    <input type="hidden" asp-for="FilterOptions.Address.Id" />

    <div class="form-row">
        @if (Model.FilterOptions.IsAddressEmpty())
        {
            <div class="form-group col-12 col-md-5 col-lg-7">
                <input type="text" class="form-control col" asp-for="FilterOptions.Address.Text" title="Адрес" placeholder="Адрес" />
            </div>
        }
        else
        {
            <div class="form-group col-12 col-md-5 col-lg-7">
                <div class="input-group">
                    <input type="text" class="form-control col" disabled asp-for="FilterOptions.Address.Text" title="Адрес" placeholder="Адрес" />
                    <div class="input-group-append h-auto d-inline-block">
                        <button class="btn btn-outline-secondary" type="button" id="addressFilterClearBtn">&#10006;</button>
                    </div>
                </div>
            </div>
        }
        @if (Model.FilterOptions.IsModalEmpty())
        {
            <div class="form-group col-6 col-md-3 col-lg-2">
                <a class="btn btn-block btn-secondary" href="#" id="filterModalShow">Фильтр</a>
            </div>
        }
        else
        {
            <div class="form-group btn-group col-6 col-md-3 col-lg-2">
                <a class="btn btn-block btn-secondary" href="#" id="filterModalShow">Фильтр</a>
                <a class="btn btn-outline-secondary" href="#" id="filterClearBtn">&#10006;</a>
            </div>
        }
        <div class="form-group col-6 col-md-4 col-lg-3">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle col-md-12 disabled" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-grid-three-up"></span> Мастер операций
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a href="#" class="dropdown-item addselect">Добавить отфильтрованные помещения</a>
                    <a class="dropdown-item" asp-controller="TenancyProcesses" asp-action="TenancyProcessesReports">Перейти в мастер</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-xl" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Фильтр лицевых счетов</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-6 col-lg-3">
                            <label asp-for="FilterOptions.Crn">СРН</label>
                            <input type="text" class="form-control" asp-for="FilterOptions.Crn" title="СРН">
                        </div>
                        <div class="form-group col-6 col-lg-3">
                            <label asp-for="FilterOptions.Account">Лицевой счет</label>
                            <input type="text" class="form-control input-filter-numbers" asp-for="FilterOptions.Account" title="Лицевой счет">
                        </div>
                        <div class="form-group col-6 col-lg-3">
                            <label asp-for="FilterOptions.Tenant">ФИО нанимателя</label>
                            <input type="text" class="form-control input-filter-snp" asp-for="FilterOptions.Tenant" title="ФИО нанимателя">
                        </div>
                        <div class="form-group col-6 col-lg-3">
                            <label asp-for="FilterOptions.RawAddress">Адрес по БКС</label>
                            <input type="text" class="form-control" asp-for="FilterOptions.RawAddress" title="Адрес по БКС">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 col-lg-6">
                            <label asp-for="FilterOptions.IdStreet">Улица</label>
                            <select class="selectpicker form-control" data-live-search="true" title="Улица" asp-for="FilterOptions.IdStreet" asp-items="@(new SelectList(Model.Streets, "IdStreet", "StreetName"))">
                                <option selected></option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label asp-for="FilterOptions.House">Номер дома</label>
                            <input type="text" class="form-control input-filter-house" asp-for="FilterOptions.House" title="Номер дома">
                        </div>
                        <div class="form-group col-md-6 col-lg-3">
                            <label asp-for="FilterOptions.PremisesNum">Номер помещения</label>
                            <input type="text" class="form-control input-filter-premise-num" asp-for="FilterOptions.PremisesNum" title="Номер помещения">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label asp-for="FilterOptions.IdPreset">Особые критерии поиска</label>
                            <select class="selectpicker form-control" title="Особые критерии поиска" asp-for="FilterOptions.IdPreset">
                                <option></option>
                                <option value="1">Лицевые счета без исковых работ</option>
                                <option value="2">Лицевые счета с исковыми работами (включая завершенные)</option>
                                <option value="3">Лицевые счета с незавершенными исковыми работами</option>
                                <option value="4">Лицевые счета, в которых отсутствуют незавершенные исковые работы</option>
                                <option value="5">В суд</option>
                            </select>
                        </div>
                    </div>

                    <div class="card rr-account-sum-filter-card mt-2">
                        <div class="card-header d-flex justify-content-between">
                            <h3>Фильтр по платежу</h3>
                            <div class="btn-group" role="group">
                                <a href="#" id="AccountSumFiltersToggler" class="form-control btn btn-primary" title="Развернуть фильтр по платежу" style="font-weight:bold;">∨</a>
                            </div>
                        </div>
                        <div class="card-body toggle-hide" id="AccountSumFilters">
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label>Критерий фильтрации</label>
                                    <select class="selectpicker form-control" id="AccountSumFilterCriteria" title="Критерий фильтрации">
                                        @if (Model.FilterOptions.AtDate == null)
                                        {
                                            <option value="1" selected>По последнему платежу</option>
                                            <option value="2">По дате начисления</option>
                                        }
                                        else
                                        {
                                            <option value="1">По последнему платежу</option>
                                            <option value="2" selected>По дате начисления</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-6">
                                    <label asp-for="FilterOptions.AtDate">Дата</label>
                                    <div class="input-group date">
                                        @if (Model.FilterOptions.AtDate == null)
                                        {
                                            <input type="date" disabled class="form-control" asp-for="FilterOptions.AtDate" title="Дата">
                                        }
                                        else
                                        {
                                            <input type="date" class="form-control" asp-for="FilterOptions.AtDate" title="Дата">
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <input type="hidden" asp-for="FilterOptions.BalanceInputTotalOp" />
                                <div class="form-group col-md-6 col-lg-3">
                                    <label asp-for="FilterOptions.BalanceInputTotal" class="rr-payment-filter-label">Сальдо вх. (Итого)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.BalanceInputTotal">
                                    </div>
                                </div>
                                <input type="hidden" asp-for="FilterOptions.BalanceInputTenancyOp" />
                                <div class="form-group col-md-6 col-lg-3">
                                    <label asp-for="FilterOptions.BalanceInputTenancy" class="rr-payment-filter-label">Сальдо вх. (Найм)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.BalanceInputTenancy">
                                    </div>
                                </div>
                                <input type="hidden" asp-for="FilterOptions.BalanceInputPenaltiesOp" />
                                <div class="form-group col-md-6 col-lg-3">
                                    <label asp-for="FilterOptions.BalanceInputPenalties" class="rr-payment-filter-label">Сальдо вх. (Пени)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.BalanceInputPenalties">
                                    </div>
                                </div>
                                <input type="hidden" asp-for="FilterOptions.BalanceInputDgiPadunPkkOp" />
                                <div class="form-group col-md-6 col-lg-3">
                                    <label asp-for="FilterOptions.BalanceInputDgiPadunPkk" class="rr-payment-filter-label">Сальдо вх. (ДГИ/Падун/ПКК)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.BalanceInputDgiPadunPkk">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <input type="hidden" asp-for="FilterOptions.ChargingTotalOp" />
                                <div class="form-group col-md-6 col-lg-3">
                                    <label asp-for="FilterOptions.ChargingTotal" class="rr-payment-filter-label">Начисление (Итого)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.ChargingTotal">
                                    </div>
                                </div>
                                <input type="hidden" asp-for="FilterOptions.ChargingTenancyOp" />
                                <div class="form-group col-md-6 col-lg-3">
                                    <label asp-for="FilterOptions.ChargingTenancy" class="rr-payment-filter-label">Начисление (Найм)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.ChargingTenancy">
                                    </div>
                                </div>
                                <input type="hidden" asp-for="FilterOptions.ChargingPenaltiesOp" />
                                <div class="form-group col-md-6 col-lg-3">
                                    <label asp-for="FilterOptions.ChargingPenalties" class="rr-payment-filter-label">Начисление (Пени)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.ChargingPenalties">
                                    </div>
                                </div>
                                <input type="hidden" asp-for="FilterOptions.ChargingDgiPadunPkkOp" />
                                <div class="form-group col-md-6 col-lg-3">
                                    <label asp-for="FilterOptions.ChargingDgiPadunPkk" class="rr-payment-filter-label">Начисление (ДГИ/Падун/ПКК)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.ChargingDgiPadunPkk">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <input type="hidden" asp-for="FilterOptions.TransferBalanceOp" />
                                <div class="form-group col-md-6 col-lg-3">
                                    <label asp-for="FilterOptions.TransferBalance" class="rr-payment-filter-label">Перенос сальдо</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.TransferBalance">
                                    </div>
                                </div>
                                <input type="hidden" asp-for="FilterOptions.RecalcTenancyOp" />
                                <div class="form-group col-md-6 col-lg-3">
                                    <label asp-for="FilterOptions.RecalcTenancy" class="rr-payment-filter-label">Перерасчет (Найм)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.RecalcTenancy">
                                    </div>
                                </div>
                                <input type="hidden" asp-for="FilterOptions.RecalcPenaltiesOp" />
                                <div class="form-group col-md-6 col-lg-3">
                                    <label asp-for="FilterOptions.RecalcPenalties" class="rr-payment-filter-label">Перерасчет (Пени)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.RecalcPenalties">
                                    </div>
                                </div>
                                <input type="hidden" asp-for="FilterOptions.RecalcDgiPadunPkkOp" />
                                <div class="form-group col-md-6 col-lg-3">
                                    <label asp-for="FilterOptions.RecalcDgiPadunPkk" class="rr-payment-filter-label">Перерасчет (ДГИ/Падун/ПКК)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.RecalcDgiPadunPkk">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <input type="hidden" asp-for="FilterOptions.PaymentTenancyOp" />
                                <div class="form-group col-md-6 col-lg-4">
                                    <label asp-for="FilterOptions.PaymentTenancy" class="rr-payment-filter-label">Оплата (Найм)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.PaymentTenancy">
                                    </div>
                                </div>
                                <input type="hidden" asp-for="FilterOptions.PaymentPenaltiesOp" />
                                <div class="form-group col-md-6 col-lg-4">
                                    <label asp-for="FilterOptions.PaymentPenalties" class="rr-payment-filter-label">Оплата (Пени)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.PaymentPenalties">
                                    </div>
                                </div>
                                <input type="hidden" asp-for="FilterOptions.PaymentDgiPadunPkkOp" />
                                <div class="form-group col-md-6 offset-md-3 offset-lg-0 col-lg-4">
                                    <label asp-for="FilterOptions.PaymentDgiPadunPkk" class="rr-payment-filter-label">Оплата (ДГИ/Падун/ПКК)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.PaymentDgiPadunPkk">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <input type="hidden" asp-for="FilterOptions.BalanceOutputTotalOp" />
                                <div class="form-group col-md-6 col-lg-3">
                                    <label asp-for="FilterOptions.BalanceOutputTotal" class="rr-payment-filter-label">Сальдо исх. (Итого)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.BalanceOutputTotal">
                                    </div>
                                </div>
                                <input type="hidden" asp-for="FilterOptions.BalanceOutputTenancyOp" />
                                <div class="form-group col-md-6 col-lg-3">
                                    <label asp-for="FilterOptions.BalanceOutputTenancy" class="rr-payment-filter-label">Сальдо исх. (Найм)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.BalanceOutputTenancy">
                                    </div>
                                </div>
                                <input type="hidden" asp-for="FilterOptions.BalanceOutputPenaltiesOp" />
                                <div class="form-group col-md-6 col-lg-3">
                                    <label asp-for="FilterOptions.BalanceOutputPenalties" class="rr-payment-filter-label">Сальдо исх. (Пени)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.BalanceOutputPenalties">
                                    </div>
                                </div>
                                <input type="hidden" asp-for="FilterOptions.BalanceOutputDgiPadunPkkOp" />
                                <div class="form-group col-md-6 col-lg-3">
                                    <label asp-for="FilterOptions.BalanceOutputDgiPadunPkk" class="rr-payment-filter-label">Сальдо исх. (ДГИ/Падун/ПКК)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">≥</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">≥</a>
                                                <a class="dropdown-item" href="#">≤</a>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control decimal input-filter-decimal" asp-for="FilterOptions.BalanceOutputDgiPadunPkk">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="filterClearModalBtn" type="button" class="btn btn-secondary">Очистить</button>
                    <button id="searchModalBtn" type="button" class="btn btn-secondary">Найти</button>
                </div>
            </div>
        </div>
    </div>
</form>

