@model RegistryServices.ViewModel.Payments.PaymentsVM;
@{
    ViewData["Title"] = "Лицевые счета БКС";
    var text = Model.PageOptions.TotalRows == Model.PageOptions.Rows ?
        "(" + Model.PageOptions.TotalRows + ")" :
        "(" + Model.PageOptions.Rows + " из " + Model.PageOptions.TotalRows + ")";
}

@section styles
    {
    <link rel="stylesheet" href="~/css/payment.accounts.css" runat="server" />
}

<div class="col info text-center" data-controller="PaymentAccounts"></div>

<h2>@ViewData["Title"] @text</h2>

<partial name="Filter" model="Model" />
<partial name="DataTable" model="Model" />
<partial name="ReportsModals" />

<page-link page-model="Model.PageOptions" page-action="Index"></page-link>

@section Scripts {
    <script src="~/js/paymentAccount.reports.js" asp-append-version="true"></script>
    <script src="~/js/index.common.js" asp-append-version="true"></script>
    <script src="~/js/address.filter.js" asp-append-version="true"></script>
    <script src="~/js/index.common.js" asp-append-version="true"></script>
    <script src="~/js/index.PaymentAccounts.js" asp-append-version="true"></script>
    <script src="~/js/multimaster.js" asp-append-version="true"></script>
}
