<form id="TenancyModalForm">
    <div class="modal fade bd-example-modal-xl" id="TenancyModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Адрес</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label class="rr-account-filter-label" for="Tenancy_IdProcess">Реестровый номер</label>
                            <input type="text" class="form-control input-filter-numbers" id="Tenancy_IdProcess" title="Реестровый номер">
                        </div>
                        <div class="form-group col-3">
                            <label class="rr-account-filter-label" for="Tenancy_RegNumber">Номер договора</label>
                            <input type="text" class="form-control" id="Tenancy_RegNumber" title="Номер договора">
                        </div>
                        <div class="form-group col-3">
                            <label class="rr-account-filter-label" for="Tenancy_RegDate">Дата регистрации</label>
                            <input type="date" class="form-control" id="Tenancy_RegDate" title="Дата регистрации">
                        </div>
                        <div class="form-group col-3">
                            <label class="rr-account-filter-label" l for="Tenancy_IssueDate">Дата выдачи</label>
                            <input type="date" class="form-control" id="Tenancy_IssueDate" title="Дата выдачи">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label class="rr-account-filter-label" for="Tenancy_IdRegion">Район</label>
                            <select class="selectpicker form-control" data-live-search="true" title="Район" id="Tenancy_IdRegion" asp-items="@(new SelectList(ViewBag.Regions, "IdRegion", "Region"))">
                                <option selected></option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label class="rr-account-filter-label" for="Tenancy_IdStreet">Улица</label>
                            <select class="selectpicker form-control" data-live-search="true" title="Улица" id="Tenancy_IdStreet" asp-items="@(new SelectList(ViewBag.Streets, "IdStreet", "StreetName"))">
                                <option selected></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label class="rr-account-filter-label" for="Tenancy_House">Дом</label>
                            <input type="text" class="form-control input-filter-house" id="Tenancy_House" title="Номер дома">
                        </div>
                        <div class="form-group col-3">
                            <label class="rr-account-filter-label" for="Tenancy_PremisesNum">Помещение</label>
                            <input type="text" class="form-control input-filter-premise-num" id="Tenancy_PremisesNum" title="Номер помещения">
                        </div>
                        <div class="form-group col-3">
                            <label class="rr-account-filter-label" for="Tenancy_SubPremisesNum">Комната</label>
                            <input type="text" class="form-control input-filter-numbers" id="Tenancy_SubPremisesNum" title="Комната">
                        </div>
                        <div class="form-group d-flex align-items-end justify-content-end col-3">
                            <button id="searchTenancyModalBtn" type="button" class="btn btn-secondary">Найти</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div id="resultTenancyModal" class="form-group col-12"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="clearTenancyModalBtn" type="button" class="btn btn-secondary">Очистить</button>
                    <button id="setTenancyModalBtn" type="button" class="btn btn-success" disabled>Выбрать</button>
                </div>
            </div>
        </div>
    </div>
</form>