@model string

@{ 

    Layout = null;
    var guid = Guid.NewGuid().ToString();
}

<div class="form-row rr-split-account-string">
    <div class="form-group col-4">
        <label class="rr-account-label" for="SplitAccount.Account_@guid">Лицевой счет</label>
        <input type="text" name="SplitAccount.Account_@guid" id="SplitAccount_Account_@guid" data-val="true" value="@Model" data-val-required="Укажите лицевой счет" title="Лицевой счет" class="form-control input-numbers" maxlength="255" />
        <span class="text-danger field-validation-valid" data-valmsg-for="SplitAccount.Account_@guid" data-valmsg-replace="true"></span>
    </div>
    <div class="form-group col-2">
        <label class="rr-account-label" for="SplitAccount.Fraction_@guid">Доля</label>
        <input type="text" name="SplitAccount.Fraction_@guid" value="0,0000" id="SplitAccount_Fraction_@guid" data-val="true" data-val-required="Укажите долю" title="Доля" class="form-control input-fraction" maxlength="6" />
        <span class="text-danger field-validation-valid" data-valmsg-for="SplitAccount.Fraction_@guid" data-valmsg-replace="true"></span>
    </div>
    <div class="form-group col-4">
        <label class="rr-account-label" for="SplitAccount.Owner_@guid">Владелец</label>
        <input type="text" name="SplitAccount.Owner_@guid" id="SplitAccount_Owner_@guid" data-val="true" data-val-required="Укажите владельца ЛС" title="Владелец лицевого счета" class="form-control input-numbers" maxlength="355" />
        <span class="text-danger field-validation-valid" data-valmsg-for="SplitAccount.Owner_@guid" data-valmsg-replace="true"></span>
    </div>
    <div class="form-group col-2 rr-split-account-string-btns">
        <div class="btn-group" role="group">
            <a href="#" title="Добавить лицевой счет" class="form-control btn btn-success rr-add-split-account-string d-none">
                <span style="top: 2px;" class="oi oi-plus"></span>
            </a>
            <a href="#" title="Удалить лицевой счет" class="form-control btn btn-danger rr-remove-split-account-string d-none">
                <span style="top: 2px;" class="oi oi-x"></span>
            </a>
        </div>
    </div>
</div>