@model RegistryServices.ViewModel.Other.ChangeLogsVM;

<form asp-action="Index" method="get" class="r-filter-form">
    <input type="hidden" asp-for="OrderOptions.OrderDirection" />
    <input type="hidden" asp-for="OrderOptions.OrderField" />
    <input type="hidden" asp-for="PageOptions.CurrentPage" />
    <input type="hidden" asp-for="PageOptions.SizePage" />
</form>
