@{
    ViewData["Title"] = "Ошибка";
    if (ViewData["Controller"].ToString() == "Account")
    {
        Layout = null;
        <link href="~/lib/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" />
        <div class="container mt-4 text-center">
            <h1 class="text-danger">Ошибка!</h1>
            <h2 class="text-danger">@ViewData["TextError"]</h2>
            <div class="offset-md-5 offset-4 col-md-2 col-4 mt-4">
                <a class="btn btn-outline-danger" asp-action="Refresh" asp-controller="Account">Повторить</a>
            </div>
        </div>
    }
    else
    {
        <style>
            .err {
                font-weight: bold;
                font-size: 14pt;
                margin-bottom: 3%;
            }

            h1 {
                margin-top: 3%;
            }
        </style>

        <body>
            <h1 class="text-danger">Ошибка!</h1>
            <div class="text-danger err text-break">@ViewData["TextError"]</div>
        </body>
    }
}