@{
    ViewData["Title"] = "Ошибка";
    if (ViewData["Controller"].ToString() == "Account")
    {
        Layout = null;
        <link href="~/lib/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    }
}
<h1 class="text-danger">Ошибка!</h1>
<h2 class="text-danger">@ViewData["TextError"]</h2>