@{
    ViewData["Title"] = "Ошибка";
    if (ViewData["Controller"].ToString() == "Account")
    {
        Layout = null;
        <link href="~/lib/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    }
}

<style>
    .err {
        font-weight: bold;
        font-size: 14pt;
        margin-bottom: 3%;
    }

    h1 {
        margin-top: 3%;
    }
</style>

<body>
    <h1 class="text-danger">Ошибка!</h1>
    <div class="text-danger err text-break">@ViewData["TextError"]</div>
</body>