@{
    ViewData["Title"] = "Ошибка";
    @if (ViewData["Controller"].ToString() == "PaymentAccountReports")
    {
        ViewData["Controller"] = "PaymentAccounts";
    }
    if (ViewData["Controller"].ToString() == "Account")
    {
        <div class="container mt-4 text-center">
            <h2 class="text-danger">Ошибка авторизации!</h2>
            <h5 class="text-danger text-break offset-md-1 col-md-10">@ViewData["TextError"]</h5>
            <div class="offset-md-5 offset-4 col-md-2 col-4 mt-3">
                <a class="btn btn-outline-danger" asp-action="Refresh" asp-controller="Account">Повторить</a>
            </div>
        </div>
    }
    else
    {
        <div class="container mt-4 text-center">
            <h2 class="text-danger">Ошибка!</h2>
            <h5 class="text-danger text-break offset-md-1 col-md-10">@ViewData["TextError"]</h5>
            <a class="btn btn-outline-danger" asp-action="Index" asp-controller="@ViewData["Controller"]">Назад</a>
        </div>
    }
}