@{
    ViewData["Title"] = "Браузер не поддерживается";
    <div class="container mt-4 text-center">
        <h2 class="text-danger">Ваш браузер не поддерживается!</h2>
        <h5 class="offset-md-1 col-md-10 text-danger text-break">Воспользуйтесь одним из следующих браузеров или позвоните диспетчеру МКУ «ЦИТиТО» 349-671</h5>
        <div class="row">
            <div class="col-4 offset-md-1 col-md-2 mt-5 text-center">
                <img src="~/image/browsers/chrome.png" style="width: 80%" alt="Google Chrome">
                <h5 class="mt-2">Google Chrome</h5>
            </div>
            <div class="col-4 col-md-2 mt-5 text-center">
                <img src="~/image/browsers/firefox.png" style="width: 80%" alt="Mozilla Firefox">
                <h5 class="mt-2">Mozilla Firefox</h5>
            </div>
            <div class="col-4 col-md-2 mt-5 text-center">
                <img src="~/image/browsers/edge.png" style="width: 80%" alt="Microsoft Edge">
                <h5 class="mt-2">Microsoft Edge</h5>
            </div>
            <div class="offset-2 col-4 offset-md-0 col-md-2 mt-5 text-center">
                <img src="~/image/browsers/opera.png" style="width: 80%" alt="Opera">
                <h5 class="mt-2">Opera</h5>
            </div>
            <div class="col-4 col-md-2 mt-5 text-center">
                <img src="~/image/browsers/yandex.png" style="width: 80%" alt="Yandex Browser">
                <h5 class="mt-2">Yandex Browser</h5>
            </div>
        </div>
    </div>
  
}