@model IEnumerable<RegistryWeb.ViewModel.RestrictionVM>;
<form id="restrictionsForm">
    <script src="~/js/restrictions.common.js" asp-append-version="true"></script>
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h3>Документы права собственности</h3>
            <div class="btn-group" role="group">
                @if (ViewBag.Action == "Edit" || ViewBag.Action == "Create")
                {
                    <a href="#" id="restrictionAdd" class="form-control btn btn-success @(((bool?)ViewBag.CanEditBaseInfo ?? true) ? "" : "disabled")" title="Добавить реквизит права собственности">&#10010;</a>
                }
                <a href="#" id="restrictionsToggle" class="form-control btn btn-primary" title="Развернуть список реквизитов права собственности" style="font-weight:bold;">∨</a>
            </div>
        </div>
        <ul class="list-group list-group-flush toggle-hide" id="restrictionsList" data-addresstype="@ViewBag.AddressType" data-id="@ViewBag.Id" data-action="@ViewBag.Action">
            @foreach (var item in Model)
            {
                <partial name="Restriction" model="item" />
            }
        </ul>
    </div>
</form>