@model RegistryWeb.ViewModel.LoginVM;
@{
    ViewData["Title"] = "Авторизация";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ЖФ</title>

    <link href="~/lib/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/open-iconic-master/font/css/open-iconic-bootstrap.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/autocomplete.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/account.css" runat="server" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    @if (TempData.ContainsKey("Error"))
    {
        <div class="col alert alert-danger">
            @Html.Raw(TempData["Error"])
        </div>
    }
    <div class="wrapper">
        <div class="row">
            <div class="block">
                <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                    <h2 class="form-signin-heading">Вход на сайт</h2>
                    <div class="validation" asp-validation-summary="ModelOnly" />
                    <div class="form-group">
                        <label asp-for="User">Введите пользователя</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">PWR\</div>
                            </div>
                            <input type="text" asp-for="User" class="form-control" required="" autofocus="" />
                        </div>
                        <span asp-validation-for="User" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Введите пароль</label>
                        <input type="password" asp-for="Password" class="form-control" required="" />
                        <span asp-validation-for="Password" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" value="Войти" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>