@model RegistryWeb.ViewModel.PremisesListVM;

<form asp-action="Index" method="get" class="r-filter-form">
    <input type="hidden" asp-for="OrderOptions.OrderDirection" />
    <input type="hidden" asp-for="OrderOptions.OrderField" />
    <input type="hidden" asp-for="PageOptions.CurrentPage" />
    <input type="hidden" asp-for="PageOptions.SizePage" />
    
    <div class="form-row">
        <div class="form-group col-11">
            <input type="text" class="form-control" asp-for="FilterOptions.Street" placeholder="Введите улицу" />
        </div>
        <div class="form-group col">
            <button class="btn btn-block btn-secondary r-index-search-button" type="submit">Найти</button>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col">
            <label class="control-label">Тип помещения: </label>
            <select class="form-control" asp-for="FilterOptions.IdPremisesType" asp-items="@{
                new SelectList(Model.PremisesTypes, "IdPremisesType", "PremisesType", Model.FilterOptions.IdPremisesType)}">
                <option value="">Все типы</option>
            </select>
        </div>
        <div class="form-group col">
            <label class="control-label">Текущее состояние: </label>
            <select class="form-control" asp-for="FilterOptions.IdObjectState" asp-items="@{
                new SelectList(Model.ObjectStates, "IdState", "StateNeutral", Model.FilterOptions.IdObjectState)}">
                <option value="">Все состояния</option>
            </select>
        </div>
        <div class="form-group col">
            <label class="control-label">Текущий фонд: </label>
            <select class="form-control" asp-for="FilterOptions.IdFundType" asp-items="@{
                new SelectList(Model.FundTypes, "IdFundType", "FundType", Model.FilterOptions.IdFundType)}">
                <option value="">Все фонды</option>
            </select>
        </div>
    </div>
</form>
