@model IEnumerable<RegistryWeb.Models.Entities.KladrStreets>;
@{ 
    var i = ViewBag.Id;
}
<div class="form-row addressBlock" data-id="@i" style="border: 1px solid #000">
    <div class="col-md-11">
        <div class="form-group">
            <input typeof="text" class="form-control street" />
        </div>
        <div class="form-row">
            <div class="col-md-3">
                <label class="control-label">Тип адреса</label>
                <select class="form-control typeAddress" name="Addresses[@i].IdTypeAddress">
                    <option value="1">Здание</option>
                    <option value="2">Помещение внутри здания</option>
                    <option value="3">Квартира внутри помещения</option>
                </select>
            </div>
            <div class="col-md-8">
                <label class="control-label">Улица</label>
                <select class="form-control kladrStreets" name="Addresses[@i].IdStreet" asp-items="@{
                    new SelectList(Model, "IdStreet", "StreetName")}"></select>
            </div>
            <div class="col-md-1">
                <label class="control-label">Дом</label>
                <select class="form-control house" name="Addresses[@i].IdBuilding"></select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4" id="premisesTypesGroup_@i">
                <label class="control-label">Тип помещения</label>
                <select class="form-control premisesTypes" name="Addresses[@i].IdPremiseType"></select>
            </div>
            <div class="col-md-4" id="premisesNumGroup_@i">
                <label class="control-label premisesTypeAsNum">Номер квартиры</label>
                <select class="form-control premisesNum" name="Addresses[@i].IdPremise"></select>
            </div>
            <div class="col-md-4" id="subPremisesNumGroup_@i">
                <label class="control-label">Номер комнаты</label>
                <select class="form-control subPremisesNum" name="Addresses[@i].IdSubPremise"></select>
            </div>
            @*<div class="clearfix" />*@
        </div>
    </div>
    <div class="col-md-1" style="border: 1px solid #000;">
        <a class="btn btn-success oi oi-check" title="Ок" aria-label="Ок"></a>
        <a class="btn btn-default oi oi-pencil" title="Изменить" aria-label="Изменить"></a>
        <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"></a>
    </div>
</div>