@model RegistryWeb.Models.ProcessAddress;
@{ 
    int i = ViewBag.Id;
}
<div class="form-row addressBlock @ViewBag.ClassAssoc" data-id="@i">
    @if (Model.IdTypeAddress == 1)
    {
        <input type="hidden" class="addressIdProcess" asp-for="IdProcess" name="OwnerBuildingsAssoc[@i].IdProcess" />
        <input type="hidden" class="addressIdAssoc" asp-for="IdAssoc" name="OwnerBuildingsAssoc[@i].IdAssoc" />
        <input type="hidden" class="addressId" asp-for="IdBuilding" name="OwnerBuildingsAssoc[@i].IdBuilding" />
    }
    @if (Model.IdTypeAddress == 2)
    {
        <input type="hidden" class="addressIdProcess" asp-for="IdProcess" name="OwnerPremisesAssoc[@i].IdProcess" />
        <input type="hidden" class="addressIdAssoc" asp-for="IdAssoc" name="OwnerPremisesAssoc[@i].IdAssoc" />
        <input type="hidden" class="addressId" asp-for="IdPremise" name="OwnerPremisesAssoc[@i].IdPremise" />
    }
    @if (Model.IdTypeAddress == 3)
    {
        <input type="hidden" class="addressIdProcess" asp-for="IdProcess" name="OwnerSubPremisesAssoc[@i].IdProcess" />
        <input type="hidden" class="addressIdAssoc" asp-for="IdAssoc" name="OwnerSubPremisesAssoc[@i].IdAssoc" />
        <input type="hidden" class="addressId" asp-for="IdSubPremise" name="OwnerSubPremisesAssoc[@i].IdSubPremise" />
    }
        <div class="col">
            @if (ViewBag.Action == "Create" || ViewBag.Action == "Edit")
            {
                <div class="form-group mb-0">
                    <input typeof="text" class="form-control street" />
                </div>
            }
            <div class="form-row">
                <div class="col-3">
                    <label class="control-label">Тип адреса</label>
                    <select class="form-control typeAddress" asp-for="IdTypeAddress">
                        <option value="1">Здание</option>
                        <option value="2">Помещение внутри здания</option>
                        <option value="3">Комната внутри помещения</option>
                    </select>
                </div>
                <div class="col-7">
                    <label class="control-label">Улица</label>
                    <select class="form-control kladrStreets" asp-for="IdStreet" asp-items="@{
                    new SelectList(ViewBag.KladrStreets, "IdStreet", "StreetName")}">
                        <option disabled selected>Выберете улицу</option>
                    </select>
                </div>
                <div class="col-2">
                    <label class="control-label">Дом</label>
                    <select class="form-control house" asp-for="IdBuilding" asp-items="@{
                    new SelectList(ViewBag.Buildings, "IdBuilding", "House")}"></select>
                </div>
            </div>
            <div class="form-row">
                <div class="col premisesTypesGroup">
                    <label class="control-label">Тип помещения</label>
                    <select class="form-control premisesTypes" asp-for="IdPremisesType" asp-items="@{
                    new SelectList(ViewBag.PremisesTypes, "IdPremisesType", "PremisesTypeName")}"></select>
                </div>
                <div class="col premisesNumGroup">
                    <label class="control-label premisesTypeAsNum">Номер квартиры</label>
                    <select class="form-control premisesNum" asp-for="IdPremise" asp-items="@{
                    new SelectList(ViewBag.Premises, "IdPremises", "PremisesNum")}"></select>
                </div>
                <div class="col subPremisesNumGroup">
                    <label class="control-label">Номер комнаты</label>
                    <select class="form-control subPremisesNum" asp-for="IdSubPremise" asp-items="@{
                    new SelectList(ViewBag.SubPremises, "IdSubPremises", "SubPremisesNum")}"></select>
                </div>
            </div>
        </div>
    @if (ViewBag.Action == "Create" || ViewBag.Action == "Edit")
    {
        <div class="col-1">
            <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"></a>
        </div>
    }
</div>