@model IEnumerable<RegistryWeb.Models.Entities.KladrStreets>;
@{ 
    var i = ViewBag.Id;
}
<div class="addressBlock" style="border: 1px solid #000">
    <div class="col-md-10 address" data-id="@i">
        <div class="form-group">
            <label for="radio1_@i">Здание</label>
            <input type="radio" class="typeAddress" id="radio1_@i" name="Addresses[@i].IdTypeAddress" value="1" checked>
            <label for="radio2_@i">Помещение внутри здания</label>
            <input type="radio" class="typeAddress" id="radio2_@i" name="Addresses[@i].IdTypeAddress" value="2">
            <label for="radio3_@i">Квартира внутри помещения</label>
            <input type="radio" class="typeAddress" id="radio3_@i" name="Addresses[@i].IdTypeAddress" value="3">
        </div>

        <div class="form-group">
            <input typeof="text" class="form-control street" />
        </div>

        <div class="form-row">
            <div class="form-group col-md-1" style="padding-left:0px;">
                <label class="control-label">Улица</label>
            </div>
            <div class="form-group col-md-8">
                <select class="form-control kladrStreets" name="Addresses[@i].IdSteet" asp-items="@{
                new SelectList(Model, "IdStreet", "StreetName")}"></select>
            </div>
            <div class="form-group col-md-1">
                <label class="control-label">Дом</label>
            </div>
            <div class="form-group col-md-2" style="padding-right:0px;">
                <select class="form-control house" name="Addresses[@i].IdBuilding"></select>
            </div>
        </div>
        <div class="form-row">
            <div id="premisesTypesGroup_@i">
                <div class="form-group col-md-1" style="padding-left:0px;">
                    <label class="control-label">Тип помещения</label>
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control premisesTypes" name="Addresses[@i].IdPremiseType"></select>
                </div>
            </div>
            <div id="premisesNumGroup_@i">
                <div class="form-group col-md-1">
                    <label class="control-label premisesTypeAsNum">Номер квартиры</label>
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control premisesNum" name="Addresses[@i].IdPremise"></select>
                </div>
            </div>

            <div id="subPremisesNumGroup_@i">
                <div class="form-group col-md-1">
                    <label class="control-label">Номер комнаты</label>
                </div>
                <div class="form-group col-md-3" style="padding-right:0px;">
                    <select class="form-control subPremisesNum" name="Addresses[@i].IdSubPremise"></select>
                </div>
            </div>
            @*<div class="clearfix" />*@
        </div>
    </div>
    <div class="col-md-2 edit" data-id="@i" style="border: 1px solid #000;">
        <a class="btn btn-success oi oi-check" title="Ок" aria-label="Ок"></a>
        <a class="btn btn-default oi oi-pencil" title="Изменить" aria-label="Изменить"></a>
        <a class="btn btn-danger oi oi-x" title="Удалить" aria-label="Удалить"></a>
    </div>
</div>