
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#general" aria-controls="general" role="tab" data-toggle="tab">Общие сведения</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="general">
            <div class="row">
                <div class="col-sm-2">
                    Улица
                </div>
                <div class="col-sm-4">
                    <input type="text">
                </div>
                <div class="col-sm-2">
                    Номер дома
                </div>
                <div class="col-sm-4">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
</div>