@using RegistryWeb.ViewModel
@using RegistryWeb.Models.Entities
@using RegistryWeb.DataServices
@using RegistryWeb.Extensions;
@model FundHistoryVM;
@{
    var controller = Context.Session.Get<string>("Controller");
    var action = Context.Session.Get<string>("Action");
    if (ViewBag.addressType == "Premise")
    {
        ViewData["Title"] = "История фонда помещения №" + ViewBag.idObject;
    }
    if (ViewBag.addressType == "Building")
    {
        ViewData["Title"] = "История фонда здания №" + ViewBag.idObject;
    }
    //var text = Model.PageOptions.TotalRows == Model.PageOptions.Rows ?
    //    "(" + Model.PageOptions.TotalRows + ")" :
    //    "(" + Model.PageOptions.Rows + " из " + Model.PageOptions.TotalRows + ")";
}
@section styles
{
    <link rel="stylesheet" href="~/css/fundshistory.css" runat="server" />
}

<partial name="FundHistory" model="@Model">
<partial name="FundsHistory" model="@Model">

@section Scripts
{
    <script src="~/js/index.common.js" asp-append-version="true"></script>
    <script src="~/js/fundhistory.index.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(function ()
        {
            //$(".selectfund").on('click', function ()
            $("tr[id$='fund']").on('click', function ()
            {
                var tr = $(this).closest('tr');
                var idFund = tr.find('input[name$="IdFund"]').val();


                @*$.get('@Url.Action("GetFund")?' + "idFund=" + idFund);*@

                $.getJSON('@Url.Action("GetFund")?' + "idFund=" + idFund, function (data) 
                {
                    ostatockArray = data;
                    //var options = "<option></option>";
                    $(ostatockArray).each(function (idx, elem) 
                    {
                        var now = new Date();
                        var day = ("0" + now.getDate()).slice(-2);
                        var month = ("0" + (now.getMonth() + 1)).slice(-2);
                        var today = now.getFullYear() + "-" + (month) + "-" + (day);

                        var date = elem.protocolDate == null ? today : elem.protocolDate.substr(0, 10);
                        $("select[name$='IdFundType']").val(elem.idFundType);
                        $("input[name$='ProtocolDate']").val(date);
                        $("input[name$='ProtocolNumber']").val(elem.protocolNumber);
                        $("textarea[name$='Description']").val(elem.description);

                        date = elem.includeRestrictionDate == null ? today : elem.includeRestrictionDate.substr(0, 10);
                        $("input[name$='IncludeRestrictionNumber']").val(elem.includeRestrictionNumber);
                        $("input[name$='IncludeRestrictionDate']").val(date);
                        $("input[name$='IncludeRestrictionDescription']").val(elem.includeRestrictionDescription);

                        date = elem.excludeRestrictionDate == null ? today : elem.excludeRestrictionDate.substr(0, 10);
                        $("input[name$='ExcludeRestrictionNumber']").val(elem.excludeRestrictionNumber);
                        $("input[name$='ExcludeRestrictionDate']").val(date);
                        $("input[name$='ExcludeRestrictionDescription']").val(elem.excludeRestrictionDescription);
                        //options += "<option value=" + elem.house + ">" + elem.house + "</option>";
                    });

                    $("select[name$='House']").each(function (idx, elem) 
                    {
                        var idPerson = $(this).val();
                        $(this).html(options);
                        $(this).val(idPerson);
                        $(this).change();
                    });
                });
            });
        });
    </script>
}
