@using RegistryWeb.Models.Entities
@model TenancyAgreement

@{
    var id = Guid.NewGuid();
}

<li class="list-group-item">
    <input type="hidden" asp-for="IdAgreement" id="IdAgreement_@id" name="IdAgreement_@id" />
    <input type="hidden" asp-for="IdExecutor" id="IdExecutor_@id" name="IdExecutor_@id"/>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Дата соглашения</label>
            <input disabled type="date" class="form-control" asp-for="AgreementDate"
                   value="@(Model.AgreementDate.HasValue ? Model.AgreementDate.Value.ToString("yyyy-MM-dd") : "")" name="AgreementDate_@id" id="AgreementDate_@id" title="Дата соглашения">
        </div>
        <div class="form-group col-md-7">
            <label>Содержание соглашения</label>
            <textarea disabled rows="1" class="form-control tenancy-agreement-content" asp-for="AgreementContent" title="@Model.AgreementContent" name="AgreementContent_@id"  id="AgreementContent_@id"></textarea>
        </div>

        @if (ViewBag.Action == "Edit" || ViewBag.Action == "Create")
        {
            <div class="text-center text-md-right col-12 col-md-2 rr-tenancy-agreement-edit-buttons">
                <div class="btn-group edit-del-panel" role="group" aria-label="Панель редактирования">
                    <a class="btn btn-primary tenancy-agreement-edit-btn" title="Редактировать" aria-label="Редактировать" href="#"><span class="oi oi-pencil"></span></a>
                    <a class="btn btn-danger tenancy-agreement-delete-btn" title="Удалить" aria-label="Удалить" href="#"><span class="oi oi-x delete"></span></a>
                </div>
            </div>
        }
        @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete")
        {
            <div class="text-center text-md-right col-12 col-md-2 rr-tenancy-agreement-view-buttons">
                <div class="btn-group" role="group" aria-label="Панель инструментов">
                    <a class="btn btn-primary tenancy-agreement-open-btn" href="#" title="Открыть дополнительное соглашения" aria-label="Открыть дополнительное соглашения">
                        <span class="oi oi-eye"></span>
                    </a>
                    <a class="btn btn-success rr-report-agreement" href="#" title="Распечатать соглашение" aria-label="Распечатать соглашение" data-id-agreement="@Model.IdAgreement">
                        <span class="oi oi-document"></span>
                    </a>
                </div>
            </div>
        }
    </div>
</li>