@using RegistryWeb.Models.Entities
@model TenancyAgreement

@{
    var id = Guid.NewGuid();
    var canEdit = ((bool?)ViewBag.CanEditBaseInfo) ?? true;
}

<li class="list-group-item pl-3 pr-3 pb-3 pt-3">
    <input type="hidden" asp-for="IdAgreement" id="IdAgreement_@id" name="IdAgreement_@id" />
    <input type="hidden" asp-for="IdExecutor" id="IdExecutor_@id" name="IdExecutor_@id"/>
    <div class="form-row">
        <div class="form-group col-md-3 mb-md-0 mb-2">
            <label class="mb-1">Дата соглашения</label>
            <input disabled type="date" class="form-control" asp-for="AgreementDate"
                   value="@(Model.AgreementDate.HasValue ? Model.AgreementDate.Value.ToString("yyyy-MM-dd") : "")" name="AgreementDate_@id" id="AgreementDate_@id" title="Дата соглашения">
        </div>
        <div class="form-group col-md-7 mb-0">
            <label class="mb-1">Содержание соглашения</label>
            <textarea disabled rows="1" class="form-control tenancy-agreement-content" asp-for="AgreementContent" title="@Model.AgreementContent" name="AgreementContent_@id"  id="AgreementContent_@id"></textarea>
        </div>

        @if ((ViewBag.Action == "Edit" && canEdit) || ViewBag.Action == "Create")
        {
            <div class="text-center text-md-right col-12 col-md-2 rr-tenancy-agreement-edit-buttons">
                <div class="btn-group edit-del-panel" role="group" aria-label="Панель редактирования">
                    <a class="btn btn-primary tenancy-agreement-edit-btn" title="Редактировать" aria-label="Редактировать" href="#"><span class="oi oi-pencil"></span></a>
                    <a class="btn btn-danger tenancy-agreement-delete-btn" title="Удалить" aria-label="Удалить" href="#"><span class="oi oi-x delete"></span></a>
                </div>
            </div>
        }
        @if (ViewBag.Action == "Details" || ViewBag.Action == "Delete" || (ViewBag.Action == "Edit" && !canEdit))
        {
            <div class="text-center text-md-right col-12 col-md-2 rr-tenancy-agreement-view-buttons">
                <div class="btn-group" role="group" aria-label="Панель инструментов">
                    <a class="btn btn-primary tenancy-agreement-open-btn" href="#" title="Открыть дополнительное соглашения" aria-label="Открыть дополнительное соглашения">
                        <span class="oi oi-eye"></span>
                    </a>

                    <div class="btn-group" role="group" aria-label="Панель доступа">
                        <button class="btn btn-success dropdown-toggle" type="button" title="Инструменты" aria-label="Инструменты" id="toolsBtn_@Model.IdAgreement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-document"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="toolsBtn_@Model.IdAgreement">
                            <a class="dropdown-item rr-report-agreement" href="#" title="Соглашение" aria-label="Соглашение" data-id-agreement="@Model.IdAgreement">Соглашение
                            </a>
                            <a class="dropdown-item rr-report-agreement-ready" href="#" title="Уведомление о готовности соглашения" aria-label="Уведомление о готовности соглашения" data-id-agreement="@Model.IdAgreement">
                                Уведомление о готовности соглашения
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</li>