@{
    ViewData["Title"] = "Отчеты";
}

<h2>@ViewData["Title"]</h2>
<div class="card">
    <div class="card-header">
        <h3>
            <a asp-controller="ReestrEmergencyPremises" asp-action="Index" >
                Реестр жилых и (или) не жилых помещений МКД, признанных аварийными на @DateTime.Now.ToString("dd.MM.yyyy")
            </a>
        </h3>
    </div>
</div>