@{
    ViewData["Title"] = "Отчеты";
}

<h2>@ViewData["Title"]</h2>
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h3>Реестр жилых и (или) не жилых помещений МКД, признанных аварийными на @DateTime.Now.ToString("dd.MM.yyyy")</h3>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" id="toggleReestrStatistic">Статистика</button>
            <a asp-action="Reestr" class="btn btn-primary">Скачать</a>
        </div>
    </div>
    <table class="table table-bordered card-text" id="reestrStatistic">
        <thead>
            <tr>
                <th>Дата актуализации</th>
                <th>Количество МКД</th>
                <th>Количество помещений</th>
                <th>Мун. помещений</th>
                <th>Част. помещений</th>
                <th>Количество жителей</th>
                <th>Общая S помещений</th>
                <th>Жилая S помещенийй</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="date_S"></td>
                <td class="countMKD_S"></td>
                <td class="countPremAndSubPrem_S"></td>
                <td class="countTenancy_S"></td>
                <td class="countOwner_S"></td>
                <td class="countInhabitant_S"></td>
                <td class="totalAreaSum_S"></td>
                <td class="livingAreaSum_S"></td>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts {
    <script src="~/js/index.OwnerReports.js" asp-append-version="true"></script>
}