@{
    ViewData["Title"] = "Отчеты по собственникам";
}

@section styles
    {
    <link rel="stylesheet" href="~/css/owner.report.css" runat="server" />
}

<div>
    <h2>@ViewData["Title"]</h2>
    <br />
    
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6 mb-3">
            <a asp-controller="OwnerReports" asp-action="Forma1">
                <div class="media cardreport align-items-center p-2">
                    <img src="~/image/img_142549.png" class="align-self-center img-fluid pt-3 pl-2 pb-3 pr-2" alt="Отчёт" width="50" height="50">
                    <div class="media-body pl-2 pr-2" style="color:black;">Отчет по форме №1</div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-6 mb-3">
            <a asp-controller="OwnerReports" asp-action="Forma2And3">
                <div class="media cardreport align-items-center p-2">
                    <img src="~/image/img_142549.png" class="align-self-center img-fluid pt-3 pl-2 pb-3 pr-2" alt="Отчёт" width="50" height="50">
                    <div class="media-body pl-2 pr-2" style="color:black;">Отчет по форме №2 и №3</div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-12 col-lg-12 mb-3">
            <a asp-controller="OwnerReports" asp-action="ReestrEmergencyPremises">
                <div class="media cardreport align-items-center p-2">
                    <img src="~/image/img_142549.png" class="align-self-center img-fluid pt-3 pl-2 pb-3 pr-2" alt="Отчёт" width="50" height="50">
                    <div class="media-body pl-2 pr-2" style="color:black;">
                        Реестр жилых и (или) не жилых помещений МКД, признанных аварийными на @DateTime.Now.ToString("dd.MM.yyyy")
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
