@{
    ViewData["Title"] = "Отчеты по собственникам";
}

@section styles
    {
    <link rel="stylesheet" href="~/css/owner.report.css" runat="server" />
}

<div>
    <h2>@ViewData["Title"]</h2>
    <br />
    <div class="row">
        <div class="col-md-7 col-lg-6">
            <a asp-controller="OwnerReports" asp-action="ReestrEmergencyPremises">
                <div class="card mb-3 cardreport">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <img src="~/image/img_142549.png" class="card-img img-fluid" alt="Отчёт" style="width:50%; margin: 30% 50%;">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <p class="card-text text-justify">
                                    Реестр жилых и (или) не жилых помещений МКД, признанных аварийными на @DateTime.Now.ToString("dd.MM.yyyy")
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-8 col-lg-6">
            <a asp-controller="OwnerReports" asp-action="Forma1">
                <div class="card mb-3 cardreport">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <img src="~/image/img_142549.png" class="card-img" alt="Отчёт" style="width:50%; margin: 30% 50%;">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body center-block">
                                <p class="card-text text-justify" style="color:black;">Отчет по форме №1</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-lg-6">
            <a asp-controller="OwnerReports" asp-action="Forma2And3">
                <div class="card mb-3 cardreport">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <img src="~/image/img_142549.png" class="card-img" alt="Отчёт" style="width:50%; margin: 30% 50%;">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body center-block">
                                <p class="card-text">Отчет по форме №2 и №3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
